package ${package}.req;

import ${package}.annotation.ToMapIgnore;
#if (${swaggerStatus})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
import lombok.Data;

@Data
@ApiModel(value = "分页req")
public class PageReq {

    @ToMapIgnore
#if (${swaggerStatus})
    @ApiModelProperty(value = "当前页码")
#end
    private int pageNum=1;

    @ToMapIgnore
#if (${swaggerStatus})
    @ApiModelProperty(value = "每页条数")
#end
    private int pageSize=10;
}
