package ${package}.filter;


import com.baomidou.mybatisplus.core.toolkit.IdWorker;
import org.apache.log4j.MDC;
import org.springframework.stereotype.Component;
import org.springframework.util.StringUtils;

import javax.servlet.*;
import javax.servlet.annotation.WebFilter;
import javax.servlet.http.HttpServletRequest;
import java.io.IOException;

@Component
@WebFilter(urlPatterns = "/*", filterName = "requestFilter")
public class RequestFilter implements Filter {

    public final static String REQUEST_HEADER_UUID_KEY = "X-Request-ID";

    @Override
    public void init(FilterConfig filterConfig)  {

    }

    @Override
    public void doFilter(ServletRequest request, ServletResponse response, FilterChain filterChain) throws IOException, ServletException {
        HttpServletRequest req = (HttpServletRequest)request;
        String uuid = req.getHeader(REQUEST_HEADER_UUID_KEY);
        if(StringUtils.isEmpty(uuid)){
            uuid = IdWorker.getIdStr();
        }
        MDC.put(REQUEST_HEADER_UUID_KEY, uuid);
        filterChain.doFilter(request, response);
    }

    @Override
    public void destroy() {

    }

}
