package ${package}.dto;
#if (${swaggerStatus})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
import java.io.Serializable;
import java.util.Date;
import lombok.Data;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * ${commentsEntity}
 *
 * @author ${author}
 * @email ${email}
 * @date ${date}
 */
@Data
#if (${swaggerStatus})
@ApiModel(value = "${commentsEntity}")
#end
public class ${className}Dto implements Serializable {


	#foreach ($column in $columns)
	#if (${swaggerStatus})
	@ApiModelProperty(value = "$column.comments")
	#else
	/**
	* $column.comments
	*/
	#end
	private $column.attrType $column.variableAttrName;

	#end
}