
package ${package}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${package}.entity.${className}Entity;
import ${package}.dto.${className}Dto;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

import java.util.List;
import java.util.Map;

/**
 * ${commentsEntity}
 *
 * @author ${author}
 * @email ${email}
 * @date ${date}
 */
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}Entity> {

    #*List<${className}Dto> ${variableClassName}List(@Param("params") Map<String, Object> params);*#

    int inserts(List<${className}Entity> list);

}