
package ${package}${mapperOut};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${package}${entityOut}.${className}Entity;
#if ($dtoStatus==true)
import ${package}.dto.${className}Dto;
#end
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

import java.util.List;
import java.util.Map;

/**
 * ${commentsEntity}
 *
 * @author ${author}
 * @email ${email}
 * @date ${date}
 */
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}Entity> {

    #*List<${className}Dto> ${variableClassName}List(@Param("params") Map<String, Object> params);*#
    #if (${insertsStatus})
    int inserts(List<${className}Entity> list);
    #end
}