package ${package}.req;

import ${package}.req.PageReq;
import lombok.Data;
import lombok.EqualsAndHashCode;

@EqualsAndHashCode(callSuper=false)
@Data
public class ${className}Req extends PageReq {


}
