package ${package}${serviceOut}.impl;



import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${package}.mapper.${className}Mapper;
import ${package}.dao.${className}Dao;
#if ($dtoStatus==true)
import ${package}.dto.${className}DTO;
#end
import ${package}${entityOut}.${className}Entity;
import ${package}${serviceOut}.${className}Service;
import ${package}.req.${className}Req;
import ${package}.vo.PageVo;
import ${package}.enums.RespCode;
import ${package}.vo.RespVo;
import ${package}.exception.CurdException;
import ${package}.service.impl.BaseServiceImpl;
import ${package}.util.ConvertUtil;

import com.github.pagehelper.Page;
import com.github.pagehelper.PageHelper;
import org.apache.commons.lang3.StringUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;
import java.io.Serializable;
import java.util.Collection;
import java.util.List;
import java.util.Map;

/**
 * ${commentsEntity}
 *
 * @author ${author}
 * @email ${email}
 * @date ${date}
 */
@Service
public class ${className}ServiceImpl  extends ServiceImpl<${className}Mapper,${className}Entity> implements ${className}Service {

    @Autowired
    private ${className}Mapper ${variableClassName}Mapper;

    @Override
    public Object pageReq(${className}Req req) {
        Page<?> page = PageHelper.startPage(req.getPageNum(),req.getPageSize());
        Map<String,Object> map = ConvertUtil.toMap(req);
        List<${className}Entity> listByMap = baseMapper.selectByMap(map);

        return PageVo.builder()
                .rows(listByMap)
                .total(page.getTotal())
                .build();
    }

}