package ${package}${serviceOut}.impl;


import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${package}.mapper.${className}Mapper;
#if ($dtoStatus==true)
import ${package}.dto.${className}DTO;
#end
import ${package}${entityOut}.${className}Entity;
import ${package}${serviceOut}.${className}Service;
import ${package}.req.${className}Req;
import ${package}.vo.PageVo;
import ${package}.enums.RespEnum;
import ${package}.vo.RespVo;

import org.apache.commons.lang3.StringUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;
import java.io.Serializable;
import java.util.Collection;
import java.util.List;
import java.util.Map;

/**
 * ${commentsEntity}
 *
 * @author ${author}
 * @email ${email}
 * @date ${date}
 */
@Service
public class ${className}ServiceImpl  extends ServiceImpl<${className}Mapper,${className}Entity> implements ${className}Service {

    @Autowired
    private ${className}Mapper ${variableClassName}Mapper;

    @Override
    public Object pageList(${className}Req req) {

        Page<AppEntity> page=new Page<>(req.getPageNum(),req.getPageSize());
        baseMapper.selectPage(page,null);

        return PageVo.<${className}Entity>builder()
                .rows(page.getRecords())
                .total(page.getTotal())
                .build();
    }

}