<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>欢迎使用</title>
    <!-- CSS only -->

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<style>
    body{
        height: 100%;
        width: 100%;
        padding:10px;
        background-color: #f3f3f4;
        margin: 0px auto;
    }
    .headDiv{
        background-color: #fff;
        height: 280px;
        border-radius: 6px;
        box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
        width: 100%;
        padding: 5px 10px;
    }
    .bodyDiv{
        margin-top: 10px;
    }
    .package{
        padding-top:5px;
    }
    .input500 input{
        width: 500px;
        font-size: 11px;
        line-height: 1.53;
        border-radius: 2px;
        border: 1px solid #ddd;
    }
    .input430 input{
        width: 427px;
        font-size: 11px;
        line-height: 1.53;
        border-radius: 2px;
        border: 1px solid #ddd;
    }
    .input400 input{
        width: 400px;
        font-size: 11px;
        line-height: 1.53;
        border-radius: 2px;
        border: 1px solid #ddd;
    }
    .input376 input{
        width: 376px;
        font-size: 11px;
        line-height: 1.53;
        border-radius: 2px;
        border: 1px solid #ddd;
    }
    .input300 input{
        width: 300px;
        font-size: 11px;
        line-height: 1.53;
        border-radius: 2px;
        border: 1px solid #ddd;
    }
    .package label{
        width: 80px;
    }
    .input1{
        font-size: 11px;
        line-height: 1.53;
        border-radius: 2px;
        border: 1px solid #ddd;
    }
</style>
<body>
<div>

    <div class="headDiv">

        <form id="formDiv">
            <div style="width: 50%;float:left;height: 250px;">
                <div class="package input376">
                    <label >输出地址：</label>
                    <input id="out" name="out" type="text" placeholder="请输入输出地址" value="com" data-toggle="tooltip"  data-placement="top" title="请输入输出地址"  />
                    <button type="button" class="btn  btn-xs btn-default" id="cacheButton" >一键缓存 </button>
                </div>
                <div class="package input400">
                    <label >controller：</label>
                    <input id="controllerOut" name="controllerOut" type="text"   placeholder="请输入controller地址"  data-toggle="tooltip"  data-placement="top" title="controller 输出地址"  value="controller" />
                    <button type="button" class="btn btn-xs btn-default" onclick="jinyong(this)"  >禁用</button>
                </div>
                <div class="package input400">
                    <label >service：</label >
                    <input id="serviceOut" name="serviceOut" type="text"   placeholder="请输入 service地址"  title="service 输出地址" value="service" />
                    <button type="button" class="btn btn-xs btn-default" onclick="jinyong(this)"  >禁用</button>
                </div>
                <div class="package input400">
                    <label >config：</label>
                    <input id="reqOut" name="reqOut" type="text" placeholder="配置输出地址" value="com" data-toggle="tooltip"  data-placement="top" title="请输入输出地址"  />
                    <button type="button" class="btn btn-xs btn-default" onclick="jinyong(this)"  >禁用</button>
                </div>
                <div class="package input400">
                    <label >entity：</label >
                    <input id="entityOut" name="entityOut" type="text"   placeholder="请输入 entity 地址" title="entity 输出地址" value="entity" />
                    <button type="button" class="btn btn-xs btn-default" onclick="jinyong(this)"  >禁用</button>
                </div>
                <div class="package input400">
                    <label >mapper：</label >
                    <input id="mapperOut" name="mapperOut" type="text"   placeholder="请输入 mapper地址"  title="mapper 输出地址" value="mapper" />
                    <button type="button" class="btn btn-xs btn-default" onclick="jinyong(this)"  >禁用</button>
                </div>
                <div class="package input400">
                    <label >mapperXml：</label >
                    <input id="mapperXmlOut" name="mapperXmlOut" type="text"   placeholder="请输入 mapper/xml地址"  title="mapper/xml 输出地址" value="xml"  />
                    <button type="button" class="btn btn-xs btn-default" onclick="jinyong(this)"  >禁用</button>
                </div>
                <div class="package input400">
                    <label >mapperXml：</label >
                    <input id="mapperXmlOut" name="mapperXmlOut" type="text"   placeholder="请输入 mapper/xml地址"  title="mapper/xml 输出地址" value="xml"  />
                    <button type="button" class="btn btn-xs btn-default" onclick="jinyong(this)"  >禁用</button>
                </div>
                <div class="package input400">
                    <label >mapperXml：</label >
                    <input id="mapperXmlOut" name="mapperXmlOut" type="text"   placeholder="请输入 mapper/xml地址"  title="mapper/xml 输出地址" value="xml"  />
                    <button type="button" class="btn btn-xs btn-default" onclick="jinyong(this)"  >禁用</button>
                </div>

            </div>
            <!--<div style="width: 35%;float:left;height: 250px;">
                <div class="package input400">
                    <label >req：</label>
                    <input id="reqOut" name="reqOut" type="text" placeholder="请输入输出地址" value="com" data-toggle="tooltip"  data-placement="top" title="请输入输出地址"  />
                    <button type="button" class="btn btn-sm btn-default" onclick="jinyong(this)"  >禁用</button>
                </div>
            </div>-->
            <div style="width: 50%;float:right;height: 250px;">
                <div class="package input300">
                    <label >剔除前缀：</label><input type="text"  placeholder="剔除前缀" id="excludePrefix" name="excludePrefix" />
                </div>
                <div class="package input300">
                    <label >作者：</label><input id="author" name="author" type="text"  placeholder="请输入注释的作者名称" value="fashionbrot"  />
                </div>
                <div class="package input300">
                    <label >邮箱：</label><input id="email" name="email" type="text"  placeholder="请输入注释的邮箱" value="fashionbrot@163.com" />
                </div>
                <div class="package ">
                    <label >配置项：</label>
                    swagger:<input type="checkbox" checked="true"  id="swaggerStatus" name="swaggerStatus"  />&nbsp;&nbsp;
                    Dto:<input type="checkbox"   id="dtoStatus" name="dtoStatus"   />&nbsp;&nbsp;
                </div>
                <div class="package ">
                    <label ></label>
                    <button type="button" class="btn btn-xs btn-primary" id="generate" onclick="generateCode()" data-complete-text="生成代码">生成代码</button>
                </div>
                <div class="package ">
                    <label >表名：</label><input type="text" class="input1" placeholder="表名" id="tableName" >
                    <button type="button" class="btn btn-xs btn-primary" id="searchButton"
                            data-complete-text="搜索">搜索
                    </button>
                    <button type="button" class="btn btn-xs btn-primary" id="clearButton" >清空 </button>
                </div>

            </div>

        </form>


    </div>
    <div class="bodyDiv">
            <table class="table table-bordered table-striped" >
                <tr>
                    <td>
                        <div class=" td-checkbox">
                            <input type="checkbox" id="all" class="group-checkable" />
                        </div>
                    </td>
                    <th >序号</th>
                    <th >表名</th>
                    <th >数据库引擎</th>
                    <th >表备注</th>
                    <th >创建时间</th>
                </tr>
                <tbody id="tableBody" style="    overflow: scroll;" >

                </tbody>
            </table>

    </div>

</div>
</body>
<script th:inline="javascript">
    var ctx = [[@{/}]];
</script>
<script >

    $(function () {
        loadData();
    })
    var keyPrefix = "quick-out-";
    $(function() {
        $("#searchButton").click(function(){
            loadData();
        });

        $("#all").click(function(){
            if(this.checked){
                $("input[name='checboxName']").prop("checked", true);
            }else{undefined
                $("input[name='checboxName']").prop("checked", false);
            }
        });

        initItemAll();

        var outPath = localStorage.getItem(keyPrefix+"out");
        if (isEmpty(outPath)){
            pathChange('')
        }else{
            pathChange(outPath)
        }
    });

    $("#out").bind('input propertychange', function () {
        pathChange(this.value);
    });


    function pathChange(value) {
        if (value.endWith("\\")){
            value = value.substring(0,value.length-1);
        }
        $("#controllerOut").val(value+"\\controller")
        $("#serviceOut").val(value+"\\service")
        $("#reqOut").val(value+"\\req")
        $("#entityOut").val(value+"\\entity")
        $("#mapperOut").val(value+"\\mapper")
        $("#mapperXmlOut").val(value+"\\mapper\\xml")
    }

    $("#clearButton").on("click",function () {
        $("#tableName").val('');
        loadData();
    });


    function initItemAll() {
        initItem("out");
        initItem("controllerOut");
        initItem("serviceOut");
        initItem("reqOut");
        initItem("entityOut");
        initItem("mapperOut");
        initItem("mapperXmlOut");
        initItem("author");
        initItem("email");
    }

    function initItem(id) {
        $("#"+id).val(localStorage.getItem(keyPrefix+id))
    }

    function loadData(){
        $.ajax({
            url: ctx+"list",
            type: "post",
            data: {"tableName": $("#tableName").val()},
            dataType: "json",
            beforeSend: function(){
                $("#searchButton").button('loading');
            },
            complete: function(){
                $("#searchButton").button('complete');
            },
            error:function(){
                $("#searchButton").button('complete');
            },
            success: function (data) {
                if (data.code==0){
                    var rows = data.data.rows;
                    if (rows){
                        var h = "";
                        for(var i=0;i<rows.length;i++){
                            var li = rows[i];
                            h+="<tr>";
                                h+="<td>";
                                    h+="<input type='checkbox' name='checboxName' value='"+li.tableName+"'>"
                                h+="</td>";
                                h+="<td>";
                                    h+=i+1;
                                h+="</td>";
                                h+="<td>";
                                    h+=li.tableName;
                                h+="</td>";
                                h+="<td>";
                                    h+=li.engine
                                h+="</td>";
                                h+="<td>";
                                    h+=li.comments
                                h+="</td>";
                                h+="<td>";
                                    h+=li.createTime
                                h+="</td>";
                            h+="</tr>";
                        }
                        $("#tableBody").html(h);
                    }
                }else{
                    alert(data.msg);
                }
            }
        });
    }

    function generateCode() {

        var obj = document.getElementsByName("checboxName");
        var check_val = [];
        for (k in obj) {
            if (obj[k].checked) {
                check_val.push(obj[k].value);
            }
        }
        if (check_val.length<=0){
            alert("请选择以下表");
            return false;
        }

        $.ajax({
            url: ctx+"generate",
            type: "post",
            data: $("#formDiv").serialize()+"&generateTableNames="+check_val.join(","),
            dataType: "json",
            beforeSend: function(){
                $("#generate").button('loading');
            },
            complete: function(){
                $("#generate").button('complete');
            },
            error:function(){
                $("#generate").button('complete');
            },
            success: function (data) {
                if (data.code==0){
                    alert("生成成功");
                }else{
                    alert(data.msg);
                }
            }
        });
    }


    $("#cacheButton").on("click",function () {
        setItem("out");
        setItem("controllerOut");
        setItem("serviceOut");
        setItem("reqOut");
        setItem("entityOut");
        setItem("mapperOut");
        setItem("mapperXmlOut");
        setItem("author");
        setItem("email");
    });

    function setItem(id){
        var value = $("#"+id).val();
        if (!isEmpty(value)){
            localStorage.setItem(keyPrefix+id,value);
        }
    }

    function jinyong(obj){
        if(!$(obj).prev().attr("disabled")){
            $(obj).prev().attr("disabled","disabled")
            $(obj).html("<span style='color:#07c160;'>启用</span>")
        }else{
            $(obj).prev().removeAttr("disabled")
            $(obj).html("禁用")
        }
    }


    function isEmpty(outValue) {
        if (outValue!=null && outValue!='' && outValue!='undefined' && outValue!=undefined){
            return false;
        }
        return true;
    }
    String.prototype.endWith = function (endStr) {
        var d = this.length - endStr.length;
        return (d >= 0 && this.lastIndexOf(endStr) == d);
    }

</script>
</html>